accelerate==0.32.1
blobfile==3.0.0
clean-fid==0.1.35
cloudpickle==3.0.0
datasets==2.20.0
huggingface-hub==0.23.4
imageio==2.34.2
jax[cuda12]==0.4.34
keras==2.15.0
Keras-Preprocessing==1.1.2
matplotlib==3.7.0
ninja==1.11.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
seaborn==0.13.2
tensorflow==2.15.0
tensorflow-datasets==4.6.0
tensorflow-gan==2.0.0
tensorflow-hub==0.16.1
tensorflow-metadata==1.13.0
tensorflow-estimator==2.15.0
tensorflow-probability==0.23.0
tf-keras==2.15.0
tiktoken==0.7.0
timm==1.0.15
torchvision==0.16.0
ml_collections==0.1.1
piq==0.8.0
nvidia-cublas-cu12==12.6.3.3
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvcc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.0.50
nvidia-cufft-cu12==11.3.0.4
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-nccl-cu12==2.23.4
nvidia-nvjitlink-cu12==12.6.77
pyarrow==16.1.0

